:root {
    --accent-color: #3b82f6; 
    --main-bg: #ffffff; 
    --main-text: #000000; 

}


.dark-mode {
    --main-bg: #1e1e1e;
    --main-text: #ffffff;
}


    .dark-mode body {
        background-color: #121212;
        color: white;
    }

    .dark-mode .card {
        background: #1e1e1e;
    }

    .dark-mode button {
        background: #333;
        color: white;
    }